/* ------------- HEADER ------------- */
header {
  background-image: url("../images/header1600.jpg"), url("../images/headerRepeat.jpg");
  background-repeat: no-repeat, repeat-x;
}

/*  ------------- NAV -------------  */
nav {
  ul {
    margin-left: 2%;
    border-left: 1px solid rgba(0, 0, 0, 0.3);
  }

  ul li {
    width: auto;
  } // end li

  ul li:last-child {
    border-right: 1px solid rgba(0, 0, 0, 0.3);
  }

  ul li a {
    padding: .5rem 1rem;
  } // and a
} // end nav

/* ------------- MAIN ------------- */
main {
  max-width: 100em;
  margin: 0 auto;
}