/* ------------- HEADER ------------- */
header {
  height: 130px;
  background-image: url("../images/header1024.jpg");
  h1 {
    padding-top: 50px;
  }
}

/* ------------- MAIN ------------- */
main {
  max-width: 100em;
  margin: 0 auto;
}
